$ft-color: #2C2C2C;
$bg-color: #F4F6F7;
$color-pri: #34495E;
$color-sec: #ff6700;
$color-grey: #f5f5f5;
$text-size: 14px;
$text-sm-size: 13px;
$l-height: 17px;
$ico-size: 28px;
$ico-md-size: 20px;
$font-pri: 'Montserrat', sans-serif;
$font-sec: 'Comfortaa', cursive;
$font-open: 'Open Sans', sans-serif;



$shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

// @font-face {
//     font-family: comfortaa;
//     src: url(../fonts/Comfortaa-Regular.ttf);
// }
// @font-face {
//     font-family: montserrat;
//     src: url(../fonts/Montserrat-Regular.ttf);
// }
@font-face {
    font-family: bariol;
    src: url(../fonts/bariol-regular.ttf);
}


// ##################################################################

  // my pre-setting

  .shadow{
    box-shadow: $shadow;
  }

  .btn-radius{
    border-radius: 8px;
  }

  .comfortaa{
    font-family: Comfortaa;
  }


// ################################################################
body{
  color: $ft-color;
  background-color: $color-grey;
  font-family: $font-pri;

  .btn{
    border-radius: 8px;
  }

// UP BUTTON
  .up{
  font-size: 30px;
  color: #66666E;
  box-shadow: 0 8px 11px 0 rgba(255,103,0,0.25), 0 4px 15px 0 rgba(255,103,0,0.15);
  background-color: #F8F9F9;
}

// navbar

  .navbar{

    background: #F0F3F4;
    box-shadow: 0 10px 30px rgba(50, 50, 93, 0.1), 0 2px 3px rgba(0,0,0,0.07);
    transition: top 0.2s ease-in-out;



    .navbar-brand{
      font-size: 33px;
      font-family: $font-sec;
      font-weight: 900;
      letter-spacing: -1px;

      span{
        color: #34495E;
        font-size: 35px;;
        font-weight: 40px;
      }
      .dash{
        color: $color-sec;
      }
    }

    .fa{
      color: #788195;
      font-size: 25px;;
    }

    .nav-link{
      color: #788195;
      font-size: $text-size;
      font-family: $font-pri;
      line-height: 24px;
      font-weight: 500;

    }

    .nav-link:hover{
      color: #353434;
      font-size: $text-size;
      font-family: $font-pri;
      line-height: 24px;
      font-weight: 600;
    }

    .active{
      color: #353434;
      font-size: $text-size;
      font-family: $font-pri;
      line-height: 24px;
      font-weight: 700;
      border-bottom: 2px solid $color-sec;
    }
  }

  // showcase

  #showcase{

    min-height: 600px;
    background: url("../img/showcase.jpeg") no-repeat;
    background-size: cover;
    left: 0;
    top: 0;

    .display-txt{
      font-size: 60px !important;
      line-height: 50px !important;
      font-weight: 900;
      letter-spacing: -2px;
      color: $ft-color;

    }

    .navbar-brand{
      font-family: $font-sec;
      font-weight: 40px;
      letter-spacing: -1px;
      color: #34495E;
      font-size: 40px;
      }



    h5{

      font-size: 19px;
      font-weight: 100;
      letter-spacing: -1px;
      line-height: 25px;

    }

    .col-sm-5{
      margin-right: 100px;

      .btn{
        border-radius: 5px;
        background: $color-sec;
        color: white;
        font-size: $text-size;
      }
    }

    @media (max-width: 576px) {

      .row{
        margin-top: 300px;
        text-align: center;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }


  #about-sect{
    background: #fff;


    .card{
      box-shadow: $shadow;

      h4{
        color: $color-pri;
      }

      .text-muted{
        font-size: $text-size;
        border-bottom: 1px solid rgb(200, 200,200);
        padding-bottom: 4px;
      }

      .img-fluid{
        box-shadow: $shadow;

      }

      .card-text{
        font-size: $text-size;
      }

      .fa{
        font-size: 19px;
        font-weight: 100;
      }

      .modal{
        .fa{
          font-size: 35px;
        }

        .modal-content{
          background: rgba(240,240,240,0.9);
        }
      }

      .btn{
        border-radius: 8px;
      }
    }


  }


  //Project

  #project-sect{


    h4{
      color: $color-pri;
    }

    .card{
      .text-muted{
        font-size: $text-size;
        border-bottom: 1px solid rgb(200, 200,200);
        padding-bottom: 4px;
      }
      .card-text{
        font-size: $text-size;
      }

      .btn{
        font-size: 13px;

      }

      img{
        height: 250px;
      }

      .modal{

        h4{
          color: $color-pri;
        }

        .text-sm-size{
          font-size: $text-sm-size;
        }

        .strong{
          font-weight: 900;
          font-size: $text-sm-size;
          font-family: $font-open;
        }

        .carousel{

          img{
            width: auto;
            height: auto;
          }

          .fa{
            color: rgb(60, 60, 60);
            font-size: 35px;;
          }

        }
      }
    }

  }


  #contact-sect{

    background: url("../img/footer.jpeg") no-repeat;
    min-height: 400px;
    background-size: cover;
    background-attachment: fixed;
    color: #f8f9fa;

    .dark-overlay{
      background: rgba(47,47,47,0.8);
      min-height: 400px;


      .row{
        min-height: 350px;

      }
      .fa{
        font-size: 31px;;


      }

      .fa-twitter{
        background: $color-grey;
        opacity: 0.6;
        color: #55acee;
        padding-top: 5px;
      }

      .fa-facebook{
        background: $color-grey;
        opacity: 0.6;
        color: #3b5998;
        padding-top: 5px;
      }

      .fa-github{
        background: $color-grey;
        opacity: 0.6;
        color: #dc4a38;
        padding-top: 5px;
      }

      .rounded-ico{
        // background: white;
        min-height: 40px;
        min-width: 40px;
        border-radius: 20px;
        box-shadow: 0 8px 11px 0 rgba(230, 230, 230, 0.18), 0 4px 15px 0 rgba(230, 230, 230, 0.15);
        // padding: 4px;



      }

      .col-4{
        background: rgba(50,146,166, 0.6);

        .input-group-addon{
          border-top-left-radius: 16.5px;
          border-bottom-left-radius: 16.5px;
          border-right-color: white;

          .form-control{
            border-left-color: white;
          }
          .fa{
            font-size: 20px;
          }
        }
        .width-20{
          width: 37px;
          padding-left: 10px;
        }
        textarea{
          font-size: $text-size;
          border: transparent;
          border-bottom: 1px solid #2E2C2B;
          background: #D0D3D4;
          color: black;

        }
        textarea::placeholder {
            color: #2E2C2B;
            opacity: 1; /* Firefox */
            font-weight: 500;
        }

        .btn{

          .fa{
            font-size: $ico-md-size;
          }

        }
      }

    }
  }

}
